<h1 mat-dialog-title *ngIf="action == 'Add_user' || action == 'Add_shelf' ||action == 'Add_item'">Ajouter </h1>
<h1 mat-dialog-title *ngIf="action == 'Update_user' || action == 'Update_shelf' || action == 'Update_item'">Modifier </h1>
<h1 mat-dialog-title *ngIf="action == 'Delete_user' || action == 'Delete_shelf' || action == 'Delete_item'">Supprimer </h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action == 'Add_user' || action == 'Add_shelf' ||action == 'Add_item' || action == 'Update_user' || action == 'Update_shelf' || action == 'Update_item'">
    <input placeholder="Nom" matInput [(ngModel)]="local_data.name">
  </mat-form-field>
  <mat-form-field *ngIf="action == 'Add_user' || action == 'Update_user'">
    <input placeholder="Prénom" matInput [(ngModel)]="local_data.first_name">
  </mat-form-field>
  <mat-form-field *ngIf="action == 'Add_user' || action == 'Update_user'">
    <select matInput [(ngModel)]="local_data.poste">
      <option value="PDG">PDG</option>
      <option value="Directeur">Directeur</option>
      <option value="Chef de rayon">Chef de rayon</option>
      <option value="Vendeur">Vendeur</option>
    </select>
  </mat-form-field>
  <mat-form-field *ngIf="action == 'Add_user' || action == 'Update_user'">
    <select matInput [(ngModel)]="local_data.role" placeholder="Rôle">
      <option value='User'>User</option>
      <option value='Admin'>Admin</option>
      <option value='SuperAdmin'>SuperAdmin</option>
    </select>
  </mat-form-field>
  <mat-form-field *ngIf="action == 'Add_item' || action == 'Update_item'">
    <input placeholder="Quantité" matInput [(ngModel)]="local_data.amount">
  </mat-form-field>
  <mat-form-field *ngIf="action == 'Add_item' || action == 'Update_item'">
    <input placeholder="Prix" matInput [(ngModel)]="local_data.price">
  </mat-form-field>
  <mat-form-field *ngIf="action == 'Add_item' || action == 'Update_item'">
    <input placeholder="Description" matInput [(ngModel)]="local_data.description">
  </mat-form-field>
  <div *ngIf="action == 'Delete_shelf' || action == 'Delete_item'">
    Etes vous sûr de supprimer : <b>{{local_data.name}}</b>?<br/>
  </div>
  <div *ngIf="action == 'Delete_user'">
    Etes vous sûr de supprimer : <b>{{local_data.first_name}} {{local_data.name}}</b>?<br/>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Quitter</button>
</div>